name: tid_tung_soften_proj
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.16.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  supabase_flutter: ^2.6.0
  provider: ^6.0.0
  fl_chart: ^0.69.0
  go_router: ^14.2.0
  google_fonts: ^6.3.2
  intl: ^0.20.2
  flutter_dotenv: ^5.1.0    
  timeago: ^3.7.1
  image_picker: ^1.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  integration_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - assets/.env
    - assets/images/tidtung_logo.png